<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                        https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0">

    <display-name>ReservationSalles</display-name>

    <!-- Page d'accueil : on redirigera vers /login -->
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>

    <!-- Page d'erreur générique -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/views/error.jsp</location>
    </error-page>

</web-app>